@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar{
    background-color: #7009df !important;
}
#nprogress .spinner-icon{
    border-top-color: #7009df !important;
    border-left-color: #7009df !important;
}
